<div class="mt-4">
  <img
    src="assets/imga.svg"
    alt="Cover Photo"
    class="w-full h-48 object-cover rounded-md"
  />
  <img
    src="assets/changep.svg"
    class="w-16 h-16 absolute top-[20rem] right-2 transform -translate-y-1/2"
  />
</div>

<div class="container mx-auto">
  <div class="flex items-center space-x-4">
    <img
      src="assets/facebook.svg"
      alt="Profile Picture"
      class="w-32 h-32 absolute top-[15rem] bottom-0 left-0 ml-4 border-4 border-indigo-900 rounded-full"
    />
    <div class="absolute top-80 left-24">
      <img src="assets/changep.svg" alt="" class="w-8 h-8" />
    </div>
  </div>
</div>

<div class="flex flex-col md:flex-row items-start">
  <div
    class="left-4 mt-24 min-w-48 h-auto md:h-96 flex flex-col border-r-4 border-grey-500"
  >
    <button
      class="mb-8 px-4 py-2 bg-white text-gray-400 font-medium hover:bg-slate-100 hover:text-gray-900 rounded-md"
      (click)="toggleBasicInformationForm()"
    >
      Basic Informations
    </button>
    <button
      class="mb-8 px-4 py-2 bg-white text-gray-400 font-medium hover:bg-slate-100 hover:text-gray-900 rounded-md"
      (click)="toggleSocialLink()"
    >
      Social Links
    </button>
    <button
      class="mb-8 px-4 py-2 bg-white text-gray-400 font-medium hover:bg-slate-100 hover:text-gray-900 rounded-md"
      (click)="toggleAdminCredentials()"
    >
      Admin Credentials
    </button>
  </div>
  <!--Basic information-->
  <div
    *ngIf="showBasicInformationForm"
    class="container mx-auto px-2 md:px-4 flex flex-col md:grid md:gap-10 md:grid-cols-2"
  >
    <div class="container top-0 mx-auto px-2 md:px-4 flex">
      <div class="left-0 mt-24 ml-2 w-48 h-96 flex flex-col">
        <label class="text-sky-950 w-56 top-0 mb-2">Chain Name</label>

        <div class="flex items-center justify-between">
          <select
            class="bg-white px-32 py-1.5 border-2 border-grey-100 rounded"
          >
            <option selected>El Mouradi</option>
            <option value="">Valeur 2</option>
            <option value="">Valeur 3</option>
          </select>
          <div class="flex items-center justify-between">
            <span
              class="flex items-center ml-1 py-1 pl-5 w-[10rem] border-2 border-grey-100 rounded text-sky-950"
            >
              <button>Add New Chain</button>
              <svg
                class="pl-1.5"
                width="22"
                height="23"
                viewBox="0 0 22 23"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10.1201 12.2276H0.0761719V10.4014H10.1201V0.357422H11.9463V10.4014H21.9903V12.2276H11.9463V22.2715H10.1201V12.2276Z"
                  fill="#CACED8"
                />
              </svg>
            </span>
          </div>
        </div>
        <label class="text-sky-950 mt-4 mb-2">Mobile Number (Required)</label>

        <div class="flex items-center justify-between">
          <select
            class="bg-white text-sky-950 border-2 w-[12rem] border-grey-100 rounded py-2 mt-0"
          >
            <option value="+216" selected>+216</option>
            <option value="+1">+1</option>
            <option value="+44">+44</option>
          </select>

          <div class="relative">
            <input
              type="tel"
              class="ml-1 pl-2 w-[28rem] pr-8 py-2 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
              placeholder="91200000000"
            />
          </div>
        </div>
        <div class="mt-12">
          <label for="email" class="block mb-2 text-sm text-sky-950"
            >Email address</label
          >
          <input
            type="email"
            id="email"
            class="bg-white w-[32rem] border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="john.doe@company.com"
            required
          />
        </div>
        <div class="mt-4">
          <label class="block mb-2 text-sm text-sky-950"
            >Default Currency(Required)</label
          >
          <select
            class="bg-white text-sky-950 w-[32rem] border-2 px-2 border-grey-100 rounded-lg py-2 mt-0"
          >
            <option value="+216" selected>TND</option>
            <option value="+1">EURO</option>
            <option value="+44">DOLLAR</option>
          </select>
        </div>

        <div class="mt-4">
          <label for="email" class="block mb-2 text-sm text-sky-950"
            >Default Time Zone</label
          >
          <select
            class="bg-white text-sky-950 w-[32rem] border-2 px-2 border-grey-100 rounded-lg py-2 mt-0"
          >
            <option
              data-time-zone-id="1"
              data-gmt-adjustment="GMT-12:00"
              data-use-daylight="0"
              value="-12"
            >
              (GMT-12:00) International Date Line West
            </option>
            <option
              data-time-zone-id="2"
              data-gmt-adjustment="GMT-11:00"
              data-use-daylight="0"
              value="-11"
            >
              (GMT-11:00) Midway Island, Samoa
            </option>
            <option
              data-time-zone-id="3"
              data-gmt-adjustment="GMT-10:00"
              data-use-daylight="0"
              value="-10"
            >
              (GMT-10:00) Hawaii
            </option>
            <option
              data-time-zone-id="4"
              data-gmt-adjustment="GMT-09:00"
              data-use-daylight="1"
              value="-9"
            >
              (GMT-09:00) Alaska
            </option>
            <option
              data-time-zone-id="5"
              data-gmt-adjustment="GMT-08:00"
              data-use-daylight="1"
              value="-8"
            >
              (GMT-08:00) Pacific Time (US & Canada)
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="container top-0 mt-24 mx-auto px-2 md:px-4 md:col-start-2">
      <div>
        <label class="block mb-2 text-sm text-sky-950">Hotel Name</label>
        <input
          type="text"
          id="first_name"
          class="mb-2 pl-2 w-[32rem] pr-8 py-1.5 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
          placeholder="Enter Value"
          required
        />
      </div>
      <div class="flex justify-between">
        <label class="text-sky-950 mt-2 block mb-2"
          >Land Number (Required)</label
        >
        <button>
          <u class="text-sky-950 mr-48 mt-2 block mb-0">Add Number</u>
        </button>
      </div>
      <div class="flex items-center justify-between">
        <select
          class="bg-white text-sky-950 border-2 w-[4rem] border-grey-100 rounded py-2"
        >
          <option value="+216" selected>+216</option>
          <option value="+1">+1</option>
          <option value="+44">+44</option>
        </select>
        <div class="relative">
          <input
            type="tel"
            class="ml-2 pl-2 w-[28rem] mr-48 py-2 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
            placeholder="91200000000"
          />
        </div>
      </div>
      <div class="relative mt-12">
        <label for="email" class="block mb-2 text-sm text-sky-950"
          >Email address</label
        >
        <input
          type="email"
          id="email"
          class="bg-white w-[32rem] border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="john.doe@company.com"
          required
        />
      </div>
      <div class="mt-4">
        <label class="text-sky-950 mt-4 block mb-2"
          >Night Price (Required)</label
        >
        <input
          type="number"
          class="bg-white px-2 py-2 w-[32rem] border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="0 Dt"
          required
        />
      </div>

      <div class="mt-4">
        <label class="text-sky-950 mt-4 block mb-2"
          >Auto Reject Delay (InHours)</label
        >
        <input
          type="number"
          class="bg-white px-2 py-2 w-[32rem] border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="0h"
          required
        />
      </div>
    </div>
  </div>
  <!--Social Links-->

  <div
    *ngIf="showSocialLinks"
    class="container mx-auto px-2 md:px-4 flex flex-col md:grid md:gap-10 md:grid-cols-3"
  >
    <!-- First Column (spanning 3 columns) -->
    <div class="flex items-center justify-between">
      <div class="ml-8 flex flex-col">
        <div class="">
          <label class="text-sky-950 top-0 mb-2">Website (Optional)</label>
          <input
            type="text"
            id="website"
            class="mb-2 pl-2 w-[30rem] pr-8 py-1.5 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
            placeholder="Enter Value"
            required
          />
        </div>
        <div>
          <label class="text-sky-950 w-32 top-0 mb-2">Twitter (Optional)</label>
          <input
            type="text"
            id="twitter"
            class="mb-2 pl-2 w-[30rem] pr-8 py-1.5 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
            placeholder="Enter Value"
            required
          />
        </div>
        <div>
          <label class="text-sky-950 w-56 top-0 mb-2"
            >TripAdvisor (Optional)</label
          >
          <input
            type="text"
            id="tripadvisor"
            class="mb-2 pl-2 w-[30rem] pr-8 py-1.5 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
            placeholder="Enter Value"
            required
          />
        </div>
      </div>

      <!-- Second Column (spanning 3 columns) -->
      <div class="col-span-3">
        <div class="right-0 mt-44 ml-8 h-96 flex flex-col">
          <label class="text-sky-950 w-56 top-0 mb-2"
            >Facebook (Optional)</label
          >
          <input
            type="text"
            id="facebook"
            class="mb-2 pl-2 w-[30rem] pr-8 py-1.5 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
            placeholder="Enter Value"
            required
          />
          <div>
            <label class="text-sky-950 w-56 top-0 mb-2"
              >Youtube (Optional)</label
            >
            <input
              type="text"
              id="youtube"
              class="mb-2 pl-2 w-[30rem] pr-8 py-1.5 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
              placeholder="Enter Value"
              required
            />
          </div>
          <div>
            <label class="text-sky-950 w-56 top-0 mb-2">Other (Optional)</label>
            <input
              type="text"
              id="other"
              class="mb-2 pl-2 w-[30rem] pr-8 py-1.5 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
              placeholder="Enter Value"
              required
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Admin Credentials-->
  <div
    *ngIf="showAdminCredentials"
    class="container mx-auto px-2 md:px-4 flex flex-col"
  >
    <div class="justify-center ml-8 w-[32rem] pt-32 flex flex-col">
      <label class="text-sky-950 w-56 mb-2">Authentication Email</label>
      <input
        type="text"
        id="website"
        class="mb-2 pl-2 w-[64rem] pr-8 py-1.5 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
        placeholder="Enter Value"
        required
      />

      <div class="flex items-center justify-between">
        <label class="text-sky-950 w-[64rem] mb-2">Password</label>
        <label class="text-sky-950 ml-[30rem] mb-2">ConfirmPassword</label>
      </div>

      <div class="flex items-center justify-between">
        <input
          type="password"
          id="website"
          class="pr-[19rem] pl-2 py-2 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
          placeholder="*********"
          required
        />
        <input
          type="password"
          id="website"
          class="ml-12 pl-2 pr-[18rem] py-2 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
          placeholder="**********"
          required
        />
      </div>
    </div>
  </div>

  <!--Buttons action-->
  <div class="flex items-center gap-2 absolute bottom-16 right-4">
    <button
      type="button"
      class="py-2 px-8 bg-white text-gray-500 font-medium hover:bg-indigo-900 hover:text-white rounded-md border-2"
    >
      skip
    </button>
    <button type="button" class="py-2 px-8 bg-indigo-900 text-white rounded-md">
      save
    </button>
  </div>
</div>
