<div class="overflow-x-auto px-2">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-slate-100 border-b-8 border-white h-[5rem]">
      <tr>
        <th
          class="py-3 text-left text-xs font-medium text-blue-900 uppercase dark:text-gray-400"
        >
          Avatar
        </th>
        <th
          class="py-3 text-left text-xs font-medium text-blue-900 uppercase dark:text-gray-400"
        >
          Hotel Name
        </th>
        <th
          class="py-3 text-left text-xs font-medium text-blue-900 uppercase dark:text-gray-400"
        >
          Management
        </th>
        <th
          class="py-3 text-left text-xs font-medium text-blue-900 uppercase dark:text-gray-400"
        >
          Address
        </th>
        <th
          class="py-3 text-left text-xs font-medium text-blue-900 uppercase dark:text-gray-400"
        >
          Country
        </th>
        <th
          class="py-3 text-left text-xs font-medium text-blue-900 uppercase dark:text-gray-400"
        >
          Rooms Nbr
        </th>
        <th
          class="pl-2 py-3 text-left text-xs font-medium text-blue-900 uppercase dark:text-gray-400"
        >
          Star Rating
        </th>
        <th
          class="py-3 text-left text-xs font-medium text-blue-900 uppercase dark:text-gray-400"
        >
          Status
        </th>
        <th
          class="py-3 text-left text-xs font-medium text-blue-900 uppercase dark:text-gray-400"
        >
          Actions
        </th>
      </tr>
    </thead>
    <tbody
      class="bg-white divide-y divide-gray-200 text-xs text-gray-700 uppercase cursor-pointer"
    >
      <ng-container *ngFor="let item of [1, 2, 3, 4, 5, 6]; let i = index">
        <tr class="h-[4rem] bg-gray-50 border-b-8 border-white">
          <td><img src="assets/Iconcontain.svg" class="h-12 w-12" /></td>
          <td
            class="font-normal text-blue-900"
            (click)="toggleNewTable(i + 1)"
            (click)="toggleContact()"
          >
            Meies Ressort
          </td>
          <td class="font-normal text-blue-900">Individual</td>
          <td class="font-normal text-blue-900">Rue du Lac</td>
          <td class="font-normal text-blue-900">Tunisia</td>
          <td class="font-normal text-blue-900">119</td>
          <td class="font-normal text-blue-900">
            <div class="flex items-center">
              <svg
                class="w-4 h-4 text-yellow-300 ms-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300 ms-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300 ms-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300 ms-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 ms-1 text-gray-300 dark:text-gray-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
            </div>
          </td>
          <td class="font-normal">
            <span
              [ngClass]="{'text-green-500': isActive, 'text-red-500': !isActive, 'bg-green-100':isActive, 'p-[0.5rem]':isActive,'rounded-lg':isActive,}"
            >
              {{ isActive ? "Active" : "Inactive" }}
            </span>
          </td>
          <td>
            <button
              type="button"
              (click)="menu(i, $event)"
              class="flex items-center"
            >
              <svg
                width="48"
                height="40"
                viewBox="0 0 48 49"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M27 12.6372C27 14.2941 25.6569 15.6372 24 15.6372C22.3431 15.6372 21 14.2941 21 12.6372C21 10.9804 22.3431 9.63721 24 9.63721C25.6569 9.63721 27 10.9804 27 12.6372Z"
                  fill="#868FA0"
                />
                <path
                  d="M27 24.6372C27 26.2941 25.6569 27.6372 24 27.6372C22.3431 27.6372 21 26.2941 21 24.6372C21 22.9804 22.3431 21.6372 24 21.6372C25.6569 21.6372 27 22.9804 27 24.6372Z"
                  fill="#868FA0"
                />
                <path
                  d="M27 36.6372C27 38.2941 25.6569 39.6372 24 39.6372C22.3431 39.6372 21 38.2941 21 36.6372C21 34.9804 22.3431 33.6372 24 33.6372C25.6569 33.6372 27 34.9804 27 36.6372Z"
                  fill="#868FA0"
                />
              </svg>
            </button>
            <ul
              *ngIf="menuIndex === i"
              class="lg:absolute z-50 rxg: right-28 bg-white mt-2 pr-4 rounded-lg shadow-2xl"
            >
              <li class="cursor-pointer px-3 py-1">Edit</li>
              <hr />
              <button
                class="cursor-pointer px-3 py-1"
                (click)="openArchiveDialog(); menuIndex = -1"
              >
                Archive
              </button>
            </ul>
          </td>
        </tr>

        <tr *ngIf="openTable === i + 1" class="min-w-full relative">
          <td colspan="9">
            <table class="bg-white min-w-full">
              <tbody>
                <tr class="flex items-center justify-between px-96">
                  <td
                    class="font-normal text-blue-900 px-6 py-2 hover:text-blue-600 hover:border-b-2 border-blue-500"
                    style="padding-right: 30px"
                    (click)="toggleContact()"
                  >
                    Contact Info
                  </td>
                  <td
                    class="font-normal text-blue-900 px-6 py-2 hover:text-blue-600 hover:border-b-2 border-blue-500"
                    style="padding-right: 30px"
                    (click)="toggleServices()"
                  >
                    Services
                  </td>
                  <td
                    class="font-normal text-blue-900 px-6 py-2 hover:text-blue-600 hover:border-b-2 border-blue-500"
                    style="padding-right: 30px"
                    (click)="toggleBilling()"
                  >
                    Billing details
                  </td>
                  <td
                    class="font-normal text-blue-900 px-6 py-2 hover:text-blue-600 hover:border-b-2 border-blue-500"
                    style="padding-right: 30px"
                    (click)="toggleHistory()"
                  >
                    History
                  </td>
                  <td
                    class="font-normal text-blue-900 px-6 py-2 hover:text-blue-600 hover:border-b-2 border-blue-500"
                    (click)="toggleNotes()"
                  >
                    Notes
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <ng-container *ngIf="openNotes && openTable === i + 1">
          <ng-container *ngFor="let _ of [1, 2, 3]; let i = index">
            <tr class="odd:bg-slate-50 even:bg-white">
              <td colspan="9">
                <div class="mt-4">
                  <div class="flex items-center justify-left">
                    <img src="assets/pik.svg" />
                    <p class="text-gray-400 font-medium ps-3">Name</p>
                  </div>
                  <p class="text-gray-500 mt-4 ps-16 max-w-full">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Earum porro eos ex ducimus, beatae numquam aut nesciunt?
                    Illo unde, obcaecati laboriosam, asperiores reprehenderit et
                    sint ipsum mollitia dolores suscipit ullam!
                  </p>
                </div>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="openContact && openTable === i + 1">
          <tr>
            <td colspan="9">
              <div class="mt-4 grid grid-cols-4 gap-2">
                <div class="flex items-center justify-left">
                  <span class="text-sky-900 font-medium ps-3">Mannager :</span>
                  <span class="px-3">Mr.Jhon Smart</span>
                </div>
                <div class="flex items-center justify-left">
                  <span class="text-sky-900 font-medium">Hotel 1 Sup :</span>
                  <span class="px-3">Ms. Anna Jackob</span>
                </div>
                <div class="flex items-center justify-left">
                  <span class="text-sky-900 font-medium">Hotel Address:</span>
                  <span class="pl-3"
                    >Rue du Lac Huran,Les Berges de Lac,1053 Tunisia</span
                  >
                </div>
                <div class="flex items-center justify-left">
                  <span class="text-sky-900 font-medium ps-3"
                    >Email Address :</span
                  >
                  <span class="px-3">Hotel.contact email.fr</span>
                </div>
                <div class="flex items-center justify-left">
                  <span class="text-sky-900 font-medium ps-3"
                    >Mobile Num :</span
                  >
                  <span class="px-3">0021621547696</span>
                </div>
                <div class="flex items-center justify-left">
                  <span class="text-sky-900 font-medium">Land Num :</span>
                  <span class="px-3">0021621547696</span>
                </div>
              </div>

              <div class="flex items-center justify-center mt-12">
                <button
                  type="button"
                  class="flex items-center justify-between py-0.5 px-2 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-blue-200 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                >
                  <img src="assets/website.svg" />
                  <span class="px-1">Website</span>
                </button>
                <button
                  type="button"
                  class="flex items-center justify-between py-0.5 px-2 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-blue-200 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                >
                  <img src="assets/facebook.svg" />
                  <span class="px-1">Facebook</span>
                </button>
                <button
                  type="button"
                  class="flex items-center justify-between py-0.5 px-2 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-blue-200 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                >
                  <img src="assets/xplatform.svg" />
                  <span class="px-1">X Platform (Twitter)</span>
                </button>
                <button
                  type="button"
                  class="flex items-center justify-between py-0.5 px-2 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-blue-200 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                >
                  <img src="assets/youtube.svg" />
                  <span class="px-1">Youtube</span>
                </button>
                <button
                  type="button"
                  class="flex items-center justify-between py-0.5 px-2 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-blue-200 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                >
                  <img src="assets/trip.svg" />
                  <span class="px-1">TripAdvisor</span>
                </button>
              </div>
            </td>
          </tr>
        </ng-container>

        <ng-container *ngIf="openServices && openTable === i + 1">
          <tr>
            <td colspan="9">
              <div class="my-12 flex justify-between items-center">
                <button
                  type="button"
                  class="flex items-center justify-between py-1 px-3 me-4 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-blue-200 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                >
                  <img src="assets/rec.svg" />
                  <span class="px-1">Website</span>
                </button>
                <button
                  type="button"
                  class="flex items-center justify-between py-0.5 px-2 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-blue-200 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                >
                  <img src="assets/rec.svg" />
                  <span class="px-1">Facebook</span>
                </button>
                <button
                  type="button"
                  class="flex items-center justify-between py-0.5 px-2 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-blue-200 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                >
                  <img src="assets/rec.svg" />
                  <span class="px-1">X Platform (Twitter)</span>
                </button>
                <button
                  type="button"
                  class="flex items-center justify-between py-0.5 px-2 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-blue-200 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                >
                  <img src="assets/rec.svg" />
                  <span class="px-1">Youtube</span>
                </button>
                <button
                  type="button"
                  class="flex items-center justify-between py-0.5 px-2 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-blue-200 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                >
                  <img src="assets/rec.svg" />
                  <span class="px-1">TripAdvisor</span>
                </button>
                <button
                  type="button"
                  class="flex items-center justify-between py-0.5 px-2 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-blue-200 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                >
                  <img src="assets/rec.svg" />
                  <span class="px-1">TripAdvisor</span>
                </button>
                <button
                  type="button"
                  class="flex items-center justify-between py-0.5 px-2 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-blue-200 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                >
                  <img src="assets/rec.svg" />
                  <span class="px-1">TripAdvisor</span>
                </button>
                <button
                  type="button"
                  class="flex items-center justify-between py-0.5 px-2 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-blue-200 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                >
                  <img src="assets/rec.svg" />
                  <span class="px-1">TripAdvisor</span>
                </button>
                <button
                  type="button"
                  class="flex items-center justify-between py-0.5 px-2 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-blue-200 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                >
                  <img src="assets/rec.svg" />
                  <span class="px-1">TripAdvisor</span>
                </button>
                <button
                  type="button"
                  class="flex items-center justify-between py-0.5 px-2 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-blue-200 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                >
                  <img src="assets/rec.svg" />
                  <span class="px-1">TripAdvisor</span>
                </button>
                <button
                  type="button"
                  class="flex items-center justify-between py-0.5 px-2 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-blue-200 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                >
                  <img src="assets/rec.svg" />
                  <span class="px-1">TripAdvisor</span>
                </button>
                <button
                  type="button"
                  class="flex items-center justify-between py-0.5 px-2 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-blue-200 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                >
                  <img src="assets/rec.svg" />
                  <span class="px-1">TripAdvisor</span>
                </button>
                <button
                  type="button"
                  class="flex items-center justify-between py-0.5 px-2 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-blue-200 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                >
                  <img src="assets/rec.svg" />
                  <span class="px-1">TripAdvisor</span>
                </button>
              </div>
            </td>
          </tr>
        </ng-container>

        <ng-container *ngIf="openHistory && openTable === i + 1">
          <tr>
            <td colspan="9">
              <div class="relative top-8 flex justify-between">
                <span class="text-slate-500 pl-[105rem]">view</span>
                <span>
                  <svg
                    class=""
                    xmlns="http://www.w3.org/2000/svg"
                    width="12"
                    height="10"
                    viewBox="0 0 16 10"
                    fill="none"
                  >
                    <path
                      d="M15 1.5L8 8.5L1 1.5"
                      stroke="#6F6C99"
                      stroke-opacity="0.5"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </div>
              <div class="grid grid-cols-8 gap-10 mx-16 my-12">
                <div
                  *ngFor="let step of [1, 2, 3, 4, 5, 6, 7, 8]; let last = last"
                  (click)="handleClick(step)"
                  class="relative"
                  [class.bg-white]="activeStep !== step"
                  [class.bg-green-100]="activeStep === step"
                  [class.border-green-600]="activeStep === step"
                  [class.border-2]="activeStep === step || stepBorders[step]"
                  [class.shadow]="activeStep !== step"
                  [class.shadow-md]="activeStep === step"
                  [class.rounded-md]="activeStep === step"
                  [class.dark:bg-gray-800]="activeStep !== step"
                  [class.dark:bg-green-800]="activeStep === step"
                  [class.dark:border-gray-700]="activeStep !== step"
                  [class.dark:border-green-100]="
                    activeStep === step || stepBorders[step]
                  "
                  rounded-lg
                >
                  <div
                    *ngIf="!last"
                    class="h-[1px] bg-gray-200 w-10 absolute top-0 bottom-0 -right-10 my-auto"
                    [class.bg-green-800]="activeStep === step"
                  ></div>

                  <div class="flex flex-col items-center pt-4 pb-4">
                    <span class="">Step {{ "A" + step }}</span>
                    <span
                      class="text-sm mt-2 text-gray-500 dark:text-gray-400"
                      >{{ today | date : "shortDate" }}</span
                    >

                    <div class="flex mb-2 md:mt-2">
                      <svg
                        class="pb-2"
                        *ngIf="!isSvg2Visible[step]"
                        xmlns="http://www.w3.org/2000/svg"
                        width="50"
                        height="40"
                        viewBox="0 0 52 52"
                        fill="none"
                      >
                        <circle
                          cx="26.0239"
                          cy="26.2409"
                          r="24.247"
                          stroke="#D9D9D9"
                          stroke-width="2.10843"
                        />
                      </svg>

                      <svg
                        class="pb-2"
                        *ngIf="isSvg2Visible[step]"
                        xmlns="http://www.w3.org/2000/svg"
                        width="50"
                        height="40"
                        viewBox="0 0 52 51"
                        fill="none"
                      >
                        <mask
                          id="mask0_7_8112"
                          style="mask-type: alpha"
                          maskUnits="userSpaceOnUse"
                          x="0"
                          y="0"
                          width="52"
                          height="51"
                        >
                          <rect
                            x="0.722656"
                            y="0.0727539"
                            width="50.6024"
                            height="50.6024"
                            fill="#D9D9D9"
                          />
                        </mask>
                        <g mask="url(#mask0_7_8112)">
                          <path
                            d="M23.0319 34.3427L37.207 20.1676L34.9851 17.9457L23.0319 29.8989L17.0228 23.8899L14.8009 26.1118L23.0319 34.3427ZM26.0277 45.4039C23.2574 45.4039 20.6534 44.8782 18.2158 43.8268C15.7781 42.7754 13.6577 41.3485 11.8545 39.5461C10.0513 37.7437 8.6238 35.6243 7.57193 33.1877C6.52007 30.7511 5.99414 28.1477 5.99414 25.3774C5.99414 22.607 6.51984 20.003 7.57125 17.5654C8.62266 15.1277 10.0495 13.0073 11.8519 11.2041C13.6543 9.40094 15.7738 7.97341 18.2104 6.92155C20.6469 5.86968 23.2503 5.34375 26.0207 5.34375C28.791 5.34375 31.395 5.86946 33.8326 6.92086C36.2703 7.97227 38.3907 9.39915 40.1939 11.2015C41.9971 13.0039 43.4246 15.1234 44.4765 17.56C45.5284 19.9965 46.0543 22.5999 46.0543 25.3703C46.0543 28.1406 45.5286 30.7446 44.4772 33.1822C43.4258 35.6199 41.9989 37.7403 40.1965 39.5435C38.3941 41.3467 36.2746 42.7742 33.8381 43.8261C31.4015 44.878 28.7981 45.4039 26.0277 45.4039Z"
                            fill="#06B217"
                          />
                        </g>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>

        <ng-container *ngIf="openbilling && openTable === i + 1">
          <ng-container *ngFor="let _ of [1, 2, 3]; let i = index">
            <tr>
              <td colspan="9">
                <div
                  class="mt-8 mx-20 flex flex-col md:flex-row md:justify-between"
                >
                  <div class="mb-4 md:mb-0 md:mr-4 flex justify-between">
                    <div>
                      <span class="text-gray-900 font-medium"
                        >Payment Label :</span
                      >
                    </div>
                    <div>
                      <p class="text-gray-400 font-medium pl-8">
                        3eme Trimestre Payment
                      </p>
                    </div>
                  </div>
                  <div class="mb-4 md:mb-0 md:mr-4 flex justify-between">
                    <div>
                      <span class="text-gray-900 font-medium"
                        >Payment Due Date :</span
                      >
                    </div>
                    <div>
                      <p class="text-gray-400 font-medium pl-8">
                        {{ today | date : "short" }}
                      </p>
                    </div>
                  </div>
                  <div class="mb-4 md:mb-0 md:mr-4 flex justify-between">
                    <div>
                      <span class="text-gray-900 font-medium">Amount :</span>
                    </div>
                    <div>
                      <p class="text-gray-400 font-medium pl-8">
                        {{ a | currency }}
                      </p>
                    </div>
                  </div>
                  <div class="mb-4 md:mb-0 md:mr-4 flex justify-between">
                    <div>
                      <span class="text-gray-900 font-medium"
                        >Payment Status :</span
                      >
                    </div>
                    <div>
                      <p
                        [ngClass]="{
                          rounded: isActive,
                          'text-green-500': isActive,
                          'text-red-500': !isActive,
                          'pl-8': isActive
                        }"
                      >
                        {{ isActive ? "Success" : "Not Successful" }}
                      </p>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </ng-container>

        <!-- Fermeture de la boucle ngFor -->
      </ng-container>
    </tbody>
  </table>
</div>
