<div class="mb-8">
  <h1 class="pt-12 px-8 left-0 text-center text-4xl md:text-5xl lg:text-6xl">{{Title}}</h1>
  <p class="px-4 md:px-16 text-center text-base md:text-lg lg:text-xl">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis magnam ducimus nostrum recusandae necessitatibus possimus est error voluptatem architecto dolorem asperiores, nobis accusamus animi illum similique dolores molestias perferendis earum!
  </p>

<div class="flex flex-col md:flex-row justify-center my-4">
  <div class="max-w-xs rounded-lg overflow-hidden  shadow md:shadow-lg md:mr-4 mb-4 md:mb-0">
    <div class="px-4 py-2">
      <div class="font-bold text-base mb-1 flex items-center justify-between">
        <span>Device-List.csv</span>
        <button class="relative bg-black text-white px-1 pb-1 rounded-full">...</button>
      </div>
      <p class="text-gray-700 text-xs">
        Edited 8m ago
      </p>
      <img class="rounded-md" src="assets/devicelistcsv.svg">
    </div>
    <div class="px-4 pt-2 pb-1">
      <span class="inline-block bg-gray-200 rounded-full px-20 md:px-32 py-3 text-xs font-semibold text-gray-700 mr-1 mb-1"></span>
      <span class="inline-block bg-gray-200 rounded-full px-20 md:px-32 py-3 text-xs font-semibold text-gray-700 mr-1 mb-1"></span>
    </div>
  </div>

  <div class="max-w-xs rounded overflow-hidden shadow md:shadow-lg">
    <div class="px-4 py-2">
      <div class="font-bold text-base mb-1 flex items-center justify-between">
        <span>Device-List.csv</span>
        <button class="relative bg-black text-white px-1 pb-1 rounded-full">...</button>
      </div>
      <p class="text-gray-700 text-xs">
        Edited 8m ago
      </p>
      <span class="bg-green-900 text-white rounded-md px-1.5 py-1">X</span>
    </div>
    <div class="px-4 pt-2 pb-1">
      <span class="inline-block bg-gray-200 rounded-full px-20 md:px-32 py-1 text-xs font-semibold text-gray-700 mr-1 mb-1"></span>
      <span class="inline-block bg-gray-200 rounded-full px-20 md:px-32 py-1 text-xs font-semibold text-gray-700 mr-1 mb-1"></span>
      <span class="inline-block bg-gray-200 rounded-full px-20 md:px-32 py-1 text-xs font-semibold text-gray-700 mr-1 mb-1"></span>
      <span class="inline-block bg-gray-200 rounded-full px-20 md:px-32 py-1 text-xs font-semibold text-gray-700 mr-1 mb-1"></span>
    </div>
  </div>
</div>

  
  <h1 class="pt-12 px-8 left-0 text-center text-4xl md:text-5xl lg:text-6xl">{{Upload}}</h1>

<div class="flex items-center justify-center mx-8">
  <label for="dropzone-file" class="flex flex-col items-center justify-center min-w-full h-32 rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
      <div class="flex flex-col items-center justify-center  py-4">
    <img class="pt-4" src="assets/upload.svg">
          <p class="pt-4 text-sm text-black dark:text-gray-400"><span class="font-semibold">drag and drop files,or Browse</span></p>
          <p class="text-xs text-gray-500 dark:text-gray-400">Support zip and rar files</p>
      </div>
      <input id="dropzone-file" type="file" class="hidden" />
  </label>
</div> 
</div>
